* {
  /* box-sizing: content-box; */
  box-sizing: border-box;
}

::-webkit-scrollbar {
  height: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius   : 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #8080809c;
}

body {
  display       : flex;
  align-items   : center;
  flex-direction: column;
}

.hide {
  display: none !important;
}

.multiple-select-chip {
  width         : 100%;
  display       : flex;
  flex-direction: column;
}

.selected {
  position      : relative;
  height        : 40px;
  display       : flex;
  flex-direction: row;
  border-bottom : 1px blue solid;
  overflow-x    : auto;
  overflow-y    : hidden;
}

.chips {
  position      : relative;
  top           : 50%;
  transform     : translateY(-50%);
  display       : flex;
  flex-direction: row;
}

.chips > div {
  background-color: #ece9e4;
  position        : relative;
  margin-left     : 5px;
  height          : 25px;
  top             : 50%;
  transform       : translateY(-50%);
  padding         : 3px;
  display         : flex;
  flex-direction  : row;
  align-items     : center;
  border          : 1px solid #435a70;
  border-radius   : 24px;
}

.chips > div > span {
  margin-left   : 3px;
  margin-right  : 3px;
  padding-bottom: 2px;
}

.delete-chip {
  cursor: pointer;
}

.text-input {
  height     : 35px;
  position   : relative;
  top        : 50%;
  transform  : translateY(-50%);
  margin-left: 5px;
  border     : none;
  outline    : 0px;
}

.options-list {
  margin-top: 10px;
}

.option {
  padding-top    : 5px;
  padding-bottom : 5px;
  padding-left   : 20px;
  padding-right  : 20px;
  display        : flex;
  flex-direction : row;
  justify-content: space-between;
  align-items    : center;
  border-color   : black;
  border-width   : 0px 1px 0px 1px;
  border-style   : solid;
}

.option:first-child, .top-border {
  border-top-width       : 1px !important;
  border-top-left-radius : 10px !important;
  border-top-right-radius: 10px !important;
}

 .option:last-child, .bottom-border {
  border-bottom-width       : 1px !important;
  border-bottom-left-radius : 10px !important;
  border-bottom-right-radius: 10px !important;
}

.check-mark > span {
  font-size     : 1.2em;
  vertical-align: middle;
}

.select {
  text-decoration: underline;
  color          : blue;
}